[submodule "Singleton"]
	path = firmware/Singleton
	url = git://github.com/hazelnusse/Singleton.git
[submodule "ChibiOS-RT"]
	path = firmware/ChibiOS-RT
	url = git://github.com/ChibiOS-Upstream/ChibiOS-RT.git
