dataprocessing-build
firmware/build/
.dep
.*.cpp.sw?
.*.h.sw?
datasheets
*_converted.dat
*.tar.*
*.jpg
data/collected_data*
data/*2013
images
__pycache__
CopleyConfiguration/
data/physicalparameters/RawData/Images/
