[submodule "Singleton"]
	path = firmware/Singleton
	url = git://github.com/hazelnusse/Singleton.git
[submodule "firmware/nanopb"]
	path = firmware/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS
	url = https://github.com/oliverlee/ChibiOS.git
